@import "libs/bootstrap-reboot.min";
@import "../fonts/stylesheet.css";
@import "base/mixins";
@import "base/variables";
@import "base/animation";

@import "blocks/footer";
@import "blocks/media";
@import "blocks/header";
@import "blocks/typeOfRents";


*, html, body {
  font-family: Gilroy, sans-serif;
  transition: 0.1s ease;
}

a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.social {
  display: flex;
  margin-top: 18px;
  &__link {
    display: flex;
    justify-content: center;
    margin: 0 15px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: $link-color!important;
    }
  }
  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
  }
}

.active {
  color:$link-color!important;
}

//.container {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  flex-direction: column;
//
//}
//
//* {
//  color: $dark-color;
//}
//
//body {
//  background-color: #ddeefc;
//  position: relative;
//}
//
//#root {
//  display: flex;
//  justify-content: center;
//  align-items: flex-start;
//  width: 100%;
//  height: 100vh;
//  padding-top: 50px;
//}
