.slider {
  &__container {
    padding: 132px 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../img/main-slider/kartinki24_ru_stpeterburg_39 1.jpg") center center/cover no-repeat;
  }
  &__main-title{
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
    &_big {
      display: block;
      margin-top: 16px;
      -webkit-text-stroke: 1px #EDC5A2;
      color: transparent;
      font-size: 72px;
      font-weight: 900;
    }
  }

  &__wrapper {
    margin-top: 80px;
    height: 462px;
    .swiper-slide {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}
