.purposes {
  padding: 97px 325px 192px 325px;
  background: url("../../img/specialPuproses/Special_first_bg.png") no-repeat 50%/cover;
  &__list {
    justify-self: start;
    margin-top: 177px;
    &_title {
      font-weight: 900;
      font-size: 24px;
      line-height: 120%;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &_item {
      width: 396px;
      word-wrap: break-word;
      padding-top: 18px;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      list-style-image: url("../../icons/special_purpose/check.svg");
      span {
        font-weight: bold;
        font-size: 24px;
      }
    }
  }
  &__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    &::selection {
      background: transparent;
    }
    span {
      color: transparent;
      font-weight: 900;
      font-size: 72px;
      line-height: 92px;
      letter-spacing: 0.1em;
      -webkit-text-stroke: 0.5px #FCC02A;
      &::selection {
        background: transparent;
      }
    }
  }
  &__buttons {
    margin: 350px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1300px;
    height: 185px;
    &_item {
      height: 80px;
      padding: 25px 40px ;
      background: #232731;
      border-radius: 5px;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      img {
        margin-right: 25px;
      }
    }
    &_order {
      justify-content: center;
      Width: 260px;
      Height: 80px;
      background: rgba(252,192, 42, .25);
      border: 1px solid #fcc02a;
      border-radius: 6px;
    }
  }
}



////////AIRPORT SECTION////////


.airport {
  background: url("../../img/specialPuproses/airport_bg.png") no-repeat 50%/cover;
  padding:  140px 0;
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
    span {
      font-weight: 900;
      font-size: 48px;
      line-height: 61px;
      letter-spacing: 0.1em;
      color: #FCC02A;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    padding-left: 240px;
  }

  &__img {
    margin-top: 104px;
    margin-left: 200px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 648px;
      width: 1166px;
      border: 1px solid #FCC02A;
      z-index: 10;
      left: 24px;
      bottom: 15px;
    }
  }
}




////////BUSINESSMEET SECTION////////


.businessMeet {
  background: url("../../img/specialPuproses/business-meet_bg.png") no-repeat 50%/cover;
  padding: 140px 0;
  &__list {
    margin-top: 42px;
  }
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    span {
      font-weight: 900;
      font-size: 48px;
      line-height: 61px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FCC02A;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
  }
  &__quote {
    display: flex;
    flex-direction: column;
    position: absolute;
    background:linear-gradient(45deg, transparent 75px, #232731 0);
    width: 1100px;
    height: 107px;
    right: 0;
    top: 165px;
    font-weight: bold;
    font-size: 18px;
    line-height: 80%;
    text-transform: uppercase;
    color: #FCC02A;
    text-align: center;
    justify-content: center;
    z-index: 200;
    p {
        margin-top: 15px;
    }
    span {
      margin-left: 450px;
      margin-top: -15px;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      font-weight: lighter;
      text-transform: none;
    }
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 460px;
  }
  &__descr {
    margin-top: 290px;
    margin-left: 22px;
  }
  &__img {
    margin-top: 104px;
    height: 600px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 648px;
      width: 1166px;
      border: 1px solid #FCC02A;
      z-index: 10;
      left: 0;
      bottom: -24px;
    }
  }
}



///////////////WEDDING SECTION/////////////////

.wedding {
  background: url("../../img/specialPuproses/wedding_bg.png") no-repeat 50%/cover;
  padding: 140px 0;
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
    span {
      font-weight: 900;
      font-size: 48px;
      line-height: 61px;
      letter-spacing: 0.1em;
      color: #FCC02A;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    padding-left: 210px;
  }
  &__img {
    margin-top: 104px;
    margin-left: 200px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 648px;
      width: 1166px;
      border: 1px solid #FCC02A;
      z-index: 10;
      left: 24px;
      bottom: -20px;
    }
  }
  &__descr {
    margin-top: 180px;
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 460px;
  }
}


/////////////////////FOR DATE SECTION//////////////////
.forDate {
  background: url("../../img/specialPuproses/date_bg.png") no-repeat 50%/cover;
  padding: 140px 0;
  &__list {
    margin-top: 42px;
  }
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    span {
      font-weight: 900;
      font-size: 48px;
      line-height: 61px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FCC02A;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 460px;
  }
  &__descr {
    margin-top: 45px;
    margin-left: 22px;
  }
  &__img {
    margin-top: 104px;
    height: 600px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 794px;
      width: 1170px;
      border: 1px solid #FCC02A;
      z-index: 10;
      left: 0;
      top: -29px;
    }
  }
}


/////////FOR PHOTO SECTION//////
.forPhoto {
  background: url("../../img/specialPuproses/photo_bg.png") no-repeat 50%/cover;
  padding: 140px 0;
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
    span {
      font-weight: 900;
      font-size: 48px;
      line-height: 61px;
      letter-spacing: 0.1em;
      color: #FCC02A;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    padding-left: 210px;
  }
  &__img {
    margin-top: 104px;
    margin-left: 200px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 648px;
      width: 1166px;
      border: 1px solid #FCC02A;
      z-index: 10;
      left: 24px;
      bottom: -20px;
    }
  }
  &__descr {
    margin-top: 180px;
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 460px;
  }
}


/////////////////////// FOR BUSINESS SECTION ////////////////////


.forBusiness {
  background: url("../../img/specialPuproses/business_bg.png") no-repeat 50%/cover;
  padding: 140px 0;
  &__list {
    margin-top: 42px;
    &_title {
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
  }
  &__details {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    span {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 120%;
      text-transform: uppercase;
      color: #FCC02A;
      margin-right: 5px;
    }
  }
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    span {
      font-weight: 900;
      font-size: 48px;
      line-height: 61px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FCC02A;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 460px;
  }
  &__descr {
    margin-top: 45px;
    margin-left: 22px;
  }
  &__img {
    margin-top: 104px;
    height: 600px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 666px;
      width: 1170px;
      border: 1px solid #FCC02A;
      z-index: 10;
      left: 0;
      top: -24px;
    }
  }
}


/////////////// RENT FOR SECTION////////////////

.rentFor {
  background: #0A0C11;
  padding: 140px 0;
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
    span {
      font-weight: 900;
      font-size: 48px;
      line-height: 61px;
      letter-spacing: 0.1em;
      color: #FCC02A;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    padding-left: 210px;
  }
  &__img {
    margin-top: 104px;
    margin-left: 200px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 648px;
      width: 1166px;
      border: 1px solid #FCC02A;
      z-index: 10;
      left: 24px;
      bottom: -20px;
    }
  }
  &__descr {
    margin-top: 180px;
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 460px;
  }
}